
.project-list {
    display: table;
    width: 100%;
}

.project-row {
    display: table-row;
}

.project-row > * {
    display: table-cell;
    vertical-align: middle;
    /*height: 100%;*/
    padding: 3px;
}

.project-row > .loc, .coverage, .last-commit {
    /*min-width: 50px;*/
}

.project-row > .released, .latest, .scm, .build {
    text-align: center;
}

.project-badge > * {
    margin-right: 3px
}