.items {
    /*padding: 2px;*/
}

.items > * {
    margin-right: 2px;
    padding: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.items > *:last-child {
    margin-right: inherit;
    padding: 1px;
}