.items {
    /*padding: 2px;*/
}

.items > * {
    margin-right: 3px;
    padding: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.items > *:last-child {
    margin-right: inherit;
}

.item-container {
    display: table;
    height: 100%;
}

.item-container > * {
    display: table-cell;
    vertical-align: middle;
}
