
.env-table {
    display: table;
    /*border: 1px solid red;*/
    border-collapse:separate;
    border-spacing: 1px;
    box-sizing: border-box;
    width: 100%;
}

.env-table .env-row {
    display: table-row;
    /*border-bottom: 1px solid blue;
    /*height: 35px;*/
}

.env-table .env-row td {

}

/*
.env-table > .env-row > .service {
    display: table-cell;
    vertical-align: middle;
    padding: 1px 2px;
    min-width: 50px;
}
*/

/*
.env-table > .env-row > .service > * {
    margin-right: 2px;
}
*/
    /*
.status-holder {
    border: 0px;
    margin: 0px;
    display: table-cell;
    position: relative;
    min-width: 75px;
}
    */

.status {
    display: table-cell;
    width: 95px;
    min-width: 95px;
    /*
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    */
}

.env-table > .env-row > .status {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
}

.env-row .service {
    display: table-cell;
    padding: 1px 3px;
    vertical-align: middle;
    border-bottom: 1px solid gray;
}

.env-row .instance {
    display: table-cell;
    padding: 1px 2px;
    vertical-align: middle;
    background: #f0f0f0;
    border-bottom: 1px solid gray;
}

/*
.env-row .instance-badge {
    display: table-cell;
    padding: 1px 2px;
    vertical-align: middle;
    background: #f0f0f0;
}
*/