
.instance {
    min-width: 50px;
    width: 50px;
    white-space: nowrap
}

.instance:last-child {
    min-width: 50px;
    width: 100%;
}

.instance > .section {
    /*
    margin-top: 0px;
    margin-bottom: 1px;
    padding: 0px;
    */
    display: inline-block;
    /*border-collapse: collapse;
    /*
    border: blue 1px solid;
    height: 80px;
    */
}

.instance > .section:first-child {
    /*margin-top: 0px;*/
}

.instance > .section:last-child {
    margin-bottom: 0px;
}

.instance > .section > li {
    padding-left: 1px;
    padding-right: 1px;
    display: table-cell;
    vertical-align: middle;
    /*
    border: #ff3465 1px solid;
    */
}

.instance > .section > li:first-child {
    padding-left: 0px;
}

.instance > .section > li:last-child {
    padding-right: 0px;
}