* {
    margin:0;
    padding:0;
}

body {
    font-family: Century Gothic;
    font-size: 10px;
    margin: 0px;
    height: 100vh;
    box-sizing: border-box;
}

a {
    /*color: blue;*/
    color: inherit;
    text-decoration: inherit; /* no underline */
}

a:hover {
    color: #881819;
}
a:active {
    color: #ad1819;
}

#root {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}