.dsm {
}

.dsm .dsm-table {
}

/* Header */
.dsm .dsm-header {
    background-color: #f6f6f6;
    padding-bottom: 3px;
    padding-top: 5px;
}
.dsm .dsm-header-label {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    text-align: center;

}

/* Component */
.dsm .dsm-component {
    background-color: #f6f6f6;
    padding-left: 3px;
    padding-right: 3px;
}
.dsm .dsm-component.selected {
    background-color: #202020;
    color: white;
}

/* Component Selection Deps */
.dsm .dsm-component.cycle {
    background-color: red;
}
.dsm .dsm-component.cycle.internal {
    background-color: darkred;
}
.dsm .dsm-component.used {
    background-color: gold;
}
.dsm .dsm-component.used.internal {
    background-color: goldenrod;
}
.dsm .dsm-component.uses {
    background-color: green;
}
.dsm .dsm-component.uses.internal {
    background-color: darkgreen;
}
.dsm .dsm-component.internal {
    background-color: #444444;
}

/* Cell */
.dsm .dsm-cell {
    border: 2px solid lightgray;
    text-align: center;
    height: 20px;
    width: 20px;
}

/* Cell Selection Deps */
.dsm .dsm-cell.selected {
    border-color: purple !important;
}
.dsm .dsm-cell.uses {
    border-color: green !important;
}
.dsm .dsm-cell.used {
    border-color: gold !important;
}

/* Cell Global Deps */
.dsm .dsm-cell {
    border-color: lightgray;
    background-color: lightgray;
}
.dsm .dsm-cell.nodep {
    border-color: lightgray;
    background-color: lightgray;
}
.dsm .dsm-cell.nodep.self {
    border-color: #b8b8b8;
    background-color: #b8b8b8;
}
.dsm .dsm-cell.dep {
    border-color: dodgerblue;
    background-color: dodgerblue;
}
.dsm .dsm-cell.dep.self {
    border-color: steelblue;
    background-color: steelblue;
}
