.diff {
    width: 100%;
    border: 1px solid red;
    box-sizing: border-box;
}

.diff .component {
    display: inline-block;
    width: 50%;
    border: 1px solid green;
    box-sizing: border-box;
}