
.component-list {
    display: table;
    width: 100%;
}

.component-row {
    display: table-row;
}

.component-row > * {
    display: table-cell;
    vertical-align: middle;
    /*height: 100%;*/
    padding: 3px;
    border-bottom: 1px solid lightgray;
}

.component-row > .loc, .coverage, .last-commit {
    /*min-width: 50px;*/
}

.component-badge > * {
    margin-right: 3px
}