<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Gomina!</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />

    <link href="node_modules/normalize.css/normalize.css" rel="stylesheet" />
    <link href="blueprint-icons.css" rel="stylesheet" />
    <link href="blueprint.css" rel="stylesheet" />
    <link href="blueprint-hi-contrast.css" rel="stylesheet" />
  </head>
  <body>
    <div id='root'></div>
    <% for (key in htmlWebpackPlugin.files.chunks) { %>
        <script src="/<%= htmlWebpackPlugin.files.chunks[key].entry %>" type="text/javascript"></script>
    <% } %>
  </body>
</html>
