<html>
<head>
    <script type="text/javascript" src="data/sample.js"></script>
</head>
<body>
<div>
hbs file {{this}} from web
</div>
<script type="text/javascript">
   console.info('amo');
   console.info(data);
</script>
</body>
</html>