<html>
<head>
    <script type="text/javascript" src="data/sample.js"></script>
</head>
<body>
<div>
sample static file 2
</div>
<script type="text/javascript">
   console.info('amo');
   console.info(data);
</script>
</body>
</html>